button {
    background-color: pink;
    border: 2px solid black;
    border-radius: 4px;
}

button:hover {
    animation: shadow 1s ease-in-out;
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    }

    70% {
        box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}